.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 3rem;
  gap: 2rem;
}

.section-text {
  flex: 1;
  text-align: left; /* Align text to the left */
}

.section-image {
  flex: 1;
  text-align: center;
}

.section-image img {
  margin-top: 50px;
  max-width: 70%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ... other styles ... */

.language-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
  grid-gap: 1.5rem;
}

.languagecard {
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}
.badge:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}
.about-span{ background:goldenrod;
background: linear-gradient(to right, goldenrod 80%, #CFCCC8 100%);
background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bolder;}


.language-cards :hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.languagecard .percentage {
  background-color: #ffc107; /* Yellow color for percentage */
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
}

.language-cards .language {
  font-size: 1.2rem;
  font-weight: bold;
  color: #212529;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    text-align: center;
  }

  .section-text {
    text-align: center; /* Center text on smaller screens */
  }

  .section-image {
    order: 1; /* Move image to the top */
    margin-bottom: 2rem; /* Add some space below the image */
  }
}